/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.chevron {
  margin: 0 48px 61px; }
  .chevron-nav {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
    padding: 2px 0 2px 94px; }
    .chevron-nav-list {
      text-align: right;
      padding: 0;
      margin: 0; }
      .chevron-nav-list-item {
        display: inline-block;
        vertical-align: top;
        margin: 0 50px 0 25px; }
        .chevron-nav-list-item-link {
          color: #000;
          background: #fff;
          text-transform: uppercase;
          font-size: 32px;
          line-height: 37px;
          padding: 30px 25px 29px 25px;
          display: inline-block;
          position: relative; }
          .chevron-nav-list-item-link:before {
            content: "";
            display: block;
            position: absolute;
            left: -25px;
            top: 0;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 48px 0 48px 25px;
            border-color: #fff #fff #fff transparent;
            z-index: 0; }
          .chevron-nav-list-item-link::after {
            content: "";
            display: block;
            position: absolute;
            right: -25px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 48px 0 48px 25px;
            border-color: transparent transparent transparent #fff; }
          .chevron-nav-list-item-link:hover {
            background: rgba(255, 255, 255, 0.7); }
            .chevron-nav-list-item-link:hover:before {
              content: "";
              border-color: rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7) transparent; }
            .chevron-nav-list-item-link:hover:after {
              border-color: transparent transparent transparent rgba(255, 255, 255, 0.7); }

body {
  min-width: 1440px;
  font: 16px/32px Helvetica, Arial, sans-serif;
  color: #131320; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  align-items: center;
  padding: 24px 48px;
  background: #fff;
  line-height: 32px;
  box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25); }
  .header-logo {
    display: flex;
    flex-basis: 180px;
    color: #6a75ca;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold; }
    .header-logo-link:hover {
      filter: drop-shadow(rgba(79, 88, 178, 0.25)); }
  .header-nav {
    display: flex;
    flex-grow: 1; }
    .header-nav-list-item {
      display: inline-block;
      margin: 0 0 0 48px; }
      .header-nav-list-item-link {
        color: #131320;
        font-weight: bold; }
        .header-nav-list-item-link:hover {
          color: #6a75ca; }

.container {
  display: flex;
  flex-grow: 1; }
  .container .sidebar {
    background: #6a75ca;
    flex: 0 0 240px;
    padding: 32px 0 0 48px; }
    .container .sidebar-list-item {
      padding-bottom: 16px;
      text-transform: uppercase; }
      .container .sidebar-list-item-link {
        color: #fff; }
        .container .sidebar-list-item-link:hover {
          opacity: 0.5; }
  .container .main {
    flex-grow: 1;
    min-width: 1104px;
    background: #eff2f8; }
    .container .main-title {
      font-size: 36px;
      font-weight: bold;
      line-height: 42px;
      border-bottom: 1px solid #d5c4b2;
      padding: 24px 48px;
      margin-bottom: 24px; }
    .container .main-block {
      position: relative;
      border-radius: 8px;
      border: solid 1px #4f58b2;
      margin: 0 48px 35px; }
      .container .main-block-info {
        position: absolute;
        top: 51px;
        left: 32px; }
      .container .main-block-text {
        padding: 0 56px; }
    .container .main-blue {
      background: #6a75ca;
      padding: 32px;
      color: #fff;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 30px; }
    .container .main-coner {
      background-image: linear-gradient(to bottom left, #eff2f8 50%, transparent 50%), linear-gradient(transparent, transparent);
      background-size: 50px 50px, 100% 100%, 100% 100%;
      background-position: 100% 0%, -50px 0%, 100% 50px;
      background-repeat: no-repeat;
      border: none; }
    .container .main-headline {
      padding: 24px 48px; }
      .container .main-headline-headings {
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
        border-bottom: 1px solid #131320; }
      .container .main-headline-h1 {
        font-size: 54px;
        line-height: 63px;
        margin-bottom: 42px; }
      .container .main-headline-h2 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 21px; }
      .container .main-headline-h3 {
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 21px; }
      .container .main-headline-h4 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 21px; }
      .container .main-headline-h5 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 21px; }
      .container .main-headline-h6 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 21px; }
    .container .main-block {
      border-radius: 8px;
      border: solid 1px #4f58b2;
      margin: 0 48px 35px; }
      .container .main-block-code {
        color: #7d868e; }
      .container .main-block-field {
        position: relative;
        background: #fff;
        border-radius: 8px;
        border: none;
        margin: 16px;
        padding: 48px; }
        .container .main-block-field:after {
          position: absolute;
          content: "HTML";
          top: -35px;
          left: -3px;
          padding: 7px;
          font-size: 12px;
          line-height: 21px;
          color: #ffc806;
          background: #eff2f8; }
      .container .main-block-mark {
        position: relative;
        background: #fff;
        border-radius: 8px;
        border: none;
        margin: 16px;
        padding: 48px; }
        .container .main-block-mark:after {
          position: absolute;
          content: "CSS";
          top: -35px;
          left: -3px;
          padding: 7px;
          font-size: 12px;
          line-height: 21px;
          color: #ffc806;
          background: #eff2f8; }
      .container .main-block-corner {
        background-image: linear-gradient(to bottom left, #eff2f8 50%, transparent 50%), linear-gradient(transparent, transparent);
        background-size: 50px 50px, 100% 100%, 100% 100%;
        background-position: 100% 0%, -50px 0%, 100% 50px;
        background-repeat: no-repeat;
        border: none; }
